.content {
	display: flex;
	align-items: center;
	justify-content: center;
}

#count {
	align-items: center;
	font-weight: bold;
	margin: 1rem;
}

button {
	align-items: center;
	background-color: red;
	border-radius: 10%;
}
