.notifications {
	display: flex;
	flex-direction: column;
	border-style: dotted;
	border-color: #e1003c;
}

.notifications P {
	padding: 0 0 0 1rem;
}

li {
	color: #e1003c;
}

li[data-notification-type="default"] {
	color: blue;
}
